@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
.small-image {
    width: 62px;
    height: 56px;
    object-fit: cover; /* Ensures the image covers the dimensions without distortion */
  }
  